# Python
__pycache__/
*.py[cod]
*.pyd
.Python
env/
venv/
.venv/

# Environment variables
.env

# macOS
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.bak

# IDE configs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Pipenv / Poetry
pip-log.txt
poetry.lock
